@font-face {
    font-family: "EuclidFlex-Thin";
    src: url("./fonts/EuclidFlex-Thin.ttf");
}

@font-face {
    font-family: "EuclidFlex-Regular";
    src: url("./fonts/EuclidFlex-Regular.ttf");
}

@font-face {
    font-family: "EuclidFlex-Medium";
    src: url("./fonts/EuclidFlex-Medium.ttf");
}

@font-face {
    font-family: "EuclidFlex-Bold";
    src: url("./fonts/EuclidFlex-Bold.ttf");
}

@font-face {
    font-family: "EuclidFlex-SemiBold";
    src: url("./fonts/EuclidFlex-SemiBold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 180%;
    letter-spacing: 0.1px;
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

.y-center {
    display: flex;
    align-items: center;
}

/*Header ----------------------------------------------------*/
header {
    backdrop-filter: blur(15px);
    width: 100%;
    background-color: #adadad00;
    position: absolute;
    color: white;
    font-family: "EuclidFlex-Regular";
}

header>* {
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff00;
    padding: 0 160px;
    margin: 0 auto;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}

#header-div {
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 13px;
}

#header-nav {
    padding-top: 20.5px;
    padding-bottom: 20.5px;
    font-size: 16px;
    transition: background-color 1s;
}


/*Logo ----------------------*/
#logo {
    display: flex;
    align-items: center;
    gap: 34px;
    color: #ADADAD;
}

#logo>img {
    height: 33px;
}

#logo>span {
    width: 173px;
}

/*Mobile-menu-----------------*/
#mobile-menu {
    display: none;
}

#btn-mobile-menu {
    display: none;
    gap: 5px;
}

#btn-mobile-menu::after,
#btn-mobile-menu::before {
    height: 3px;
    content: "";
    display: block;
    background-color: white;
    transition: all 0.5s ease;
}

#btn-mobile-menu::after {
    width: 12px;
}

#btn-mobile-menu::before {
    width: 18px;
}

/*Header-contacts --------------------*/
#header-info {
    gap: 70px;
    color: #ADADAD;
}

.header-info-one {
    gap: 18px;
    white-space: nowrap;
}

#header-nav>a img,
#menu-wrapper>label>span>img {
    display: none;
}

.header-info-one a {
    color: white;
    font-family: "EuclidFlex-Bold";
    font-size: 17px;
}

#header-messenger {
    gap: 30px;
}

#get-call {
    padding: 20px 26px;
    background-color: #B99573;
    font-size: 13px;
    color: #473524;
    border-radius: 2px;
    border: none;
    font-family: "EuclidFlex-SemiBold";
    /* display: none; */
}

#header-messenger>span {
    width: 107px;
}

#header-messenger>div {
    gap: 10px;
}

#header-messenger img {
    width: 44px;
    height: 44px;
}

#header-messenger>button {
    display: none;
}

/*Header-nav------------------------------------------*/
#header-nav>div {
    position: relative;

}

#header-nav>a {
    color: white;
}

h5 {
    display: none;
    width: 335px;
    font-size: 18px;
    margin-bottom: 12px;
}

/*Big menu navigation -----------*/
#header-nav label {
    gap: 10px;
    font-size: 15px;
}

#big-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 16px;
    font-size: 15px;
    padding: 34px;
    z-index: 2;
    top: 183%;
    width: 298px;
    background-color: #1F1F1F;
    box-shadow: 0 0 20px 0 rgba(40, 40, 40, 0.1);

}

#btn-go-back {
    display: none;
    align-items: center;
    gap: 10px;
    color: #B99573;
    background-color: #15151500;
    border: none;
}

#btn-go-back~h5 {
    display: none;
    font-size: 18px;
    font-family: "EuclidFlex-Bold";
    margin-top: 18px;
    margin-bottom: 16px;
}

#big-menu label {
    margin-bottom: 10px;
}

#big-menu>a {
    color: white;
}


#menu~label>img,
#big-menu input~label>img {
    transition: rotate 0.5s;
}

#menu:checked~label>img,
#big-menu input:checked~label>img {
    rotate: -180deg;
    transition: rotate 0.5s;
}

#menu:checked~#big-menu {
    display: flex;
}

#header-nav ul {
    display: none;
    gap: 10px;
    list-style: none;
    padding-left: 14px;
}

#header-nav ul a {
    color: #ADADAD;
}

#menu:checked~#big-menu input:checked~ul {
    visibility: visible;
    display: flex;
    flex-direction: column;
}

/*Button languages -------------*/
h6 {
    display: none;
    color: #ADADAD;
    font-size: 14px;
}

#lang>div {
    gap: 20px;
}

#lang button {
    border: none;
    background-color: #adadad00;
    font-size: 16px;
}

.notactive-lang {
    color: white;
}

.active-lang {
    color: #B99573;
}


#lang hr {
    height: 14.5px;
    width: 1.5px;
}

/*First section - hero ----------------------------------------*/

#hero {
    background: url("./img/main-img.png") center/cover no-repeat;
}

#hero>div {
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 47%, rgba(0, 0, 0, 0) 100%), linear-gradient(269deg, rgba(185, 149, 115, 0.16) 28%, rgba(185, 149, 115, 0.03) 66%, rgba(185, 149, 115, 0) 87%), linear-gradient(89deg, rgba(0, 0, 0, 0.70) 44%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.30) 43%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#hero-info {
    padding: 0 160px;
    color: white;
    margin-top: 260px;
}

h1 {
    font-family: "EuclidFlex-Regular";
    display: flex;
    flex-direction: column;
    font-size: 52px;
    line-height: 130%;
}

h1>span {
    font-weight: 300;
    font-family: "EuclidFlex-Thin";
}

#hero-info>p {
    margin-top: 24px;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: "EuclidFlex-Thin";
}

#hero-info>a {
    font-size: 16px;
    font-family: "EuclidFlex-SemiBold";
    color: #473524;
    width: fit-content;
    display: block;
    padding: 32px 40px;
    border-radius: 2px;
    background-color: #B99573;
}

#benefits {
    backdrop-filter: blur(15px);
    font-family: "EuclidFlex-SemiBold";
    font-size: 17px;
    color: white;
    margin-top: 183px;
    display: grid;
    grid-template-rows: 220px;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px rgba(255, 255, 255, 0.1) solid;
    padding: 0 160px;
}

.one-benefit {
    padding: 26px 40px;
    height: 100%;
    border-right: 1px rgba(255, 255, 255, 0.1) solid;
    border-left: 1px rgba(255, 255, 255, 0.1) solid;
}

.one-benefit>div {
    display: flex;
    gap: 12px;
    height: fit-content;
}

.one-benefit img {
    height: 20px;
    width: 20px;
}

.one-benefit h4 {
    width: 280px;
}

/*Second section - catalog*/
#catalog {
    padding: 60px 160px 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #151515;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 42px;
    line-height: 130%;
    font-family: "EuclidFlex-SemiBold";
}

h2>span {
    font-weight: 300;
    font-family: "EuclidFlex-Thin";
}

#catalog-items {
    display: flex;
    flex-wrap: wrap;
}

.catalog-one-item {
    width: 50%;
    padding: 40px;
    border: #EAEAEA 1px solid;
    display: flex;
    flex-direction: column;
}

/*Ð¡arousel*/
.catalog-one-img {
    position: relative;
    overflow: hidden;
}

.catalog-one-item-main-img {
    height: 400px;
    width: 100%;
}

.catalog-one-item-main-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease
}

.img-prev {
    transform: translateX(-100%);
    opacity: 0;
}

.img-main {
    transform: translateX(0);
    opacity: 1;
}

.img-next {
    transform: translateX(100%);
    opacity: 0;
}


.catalog-one-item .previous,
.catalog-one-item .next {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    position: absolute;
    z-index: 3;
}

.close-images {
    display: none;
}

.catalog-one-item .previous {
    top: 50%;
    left: 40px;
}

.catalog-one-item .next {
    top: 50%;
    right: 40px;
}

.dots {
    width: 100%;
    position: absolute;
    bottom: 36px;
    justify-content: center;
    gap: 11px;
}

.dots>div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.choosen-dot {
    background-color: #ffffff;
}

.unchoosen-dot {
    background-color: #B99573;
}

.all-images {
    margin-top: 16px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height: 94px;
    gap: 16px;

}

.one-item-images {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.last-item-img>a {
    color: white;
    font-size: 15px;
    font-family: "EuclidFlex-SemiBold";
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.6);
}

/*-------*/
h3 {
    font-size: 24px;
    font-family: "EuclidFlex-SemiBold";
    margin-bottom: 20px
}

.item-info {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    font-family: "EuclidFlex-Medium";
    margin-top: auto;
}

.item-info>div {
    gap: 12px;
    border: #EAEAEA 1px solid;
    padding: 12px 20px;
    font-size: 14px;
    color: #ADADAD;
}

#watch-portfolio {
    font-family: "EuclidFlex-SemiBold";
    background-color: white;
    width: 100%;
    padding: 20px 36px;
    justify-content: center;
    gap: 10px;
    color: #B99573;
    border: #B99573 2px solid;
    border-radius: 2px;
}

footer {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px;
    background-color: #1F1F1F;
}

footer>div {
    justify-content: center;
    padding: 10px 16px;
    border: rgba(255, 255, 255, 0.1) 1px solid;
}

footer a {
    gap: 10px;
    color: #ADADAD;
    font-size: 11px;
    font-family: "EuclidFlex-Medium";
}

/*Adaptive ----------------------------------*/

@media (max-width:1900px) {

    #benefits,
    header>*,
    #hero-info {
        padding: 0 8vw;
    }

    .one-benefit h4 {
        width: 80%;
    }

    #catalog {
        padding: 60px 8vw 120px;
    }
}

@media (max-width:1495px) {

    #benefits,
    header>*,
    #hero-info {
        padding: 0 3vw;
    }

    #catalog {
        padding: 60px 3vw 120px;
    }

    #header-info {
        gap: 3vw;
    }

    #benefits {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 35px;
        padding-top: 35px;
        border: none;
        margin-top: 70px;
    }

    .one-benefit {
        border: 1px rgba(255, 255, 255, 0.1) solid;
    }

}

@media (max-width:1200px) {
    * {
        line-height: 150%;
    }

    header {
        z-index: 1000;
    }

    /*mobile-menu --------------------*/
    #btn-mobile-menu {
        display: flex;
        flex-direction: column;
    }

    #header-nav {
        display: none;
        position: fixed;
        width: 100%;
        right: -1000%;
        background-color: #1F1F1F;
        min-height: 100vh;
        z-index: 4;
        /* top: 96px; */
        transition: all 1s ease;
    }

    #header-info {
        flex-direction: column;
    }

    #header-nav>a img,
    #menu-wrapper>label>span>img {
        display: block;
    }


    #mobile-menu:checked~#header-div>#btn-mobile-menu::after {
        width: 18px;
        transform: rotate(45deg);
        position: relative;
        top: -4px;
        transition: all 0.5s ease;
    }

    #mobile-menu:checked~#header-div>#btn-mobile-menu::before {
        position: relative;
        transform: rotate(-45deg);
        top: 4px;
        transition: transform 0.5s ease;
    }

    #mobile-menu:checked~#header-nav {
        right: 0;
        flex-direction: column;
        display: flex;
        transition: all 1s ease;

    }

    #header-nav {
        justify-content: flex-start;
    }

    #header-nav>div {
        width: 335px;
    }

    .header-info-one {
        justify-content: start;
        width: 100%;
    }

    #header-info {
        gap: 20px;
    }

    #header-messenger {
        width: 100%;
        justify-content: space-between;
    }

    #header-messenger>span {
        display: none;
    }

    #header-messenger>button,
    h5,
    h6 {
        display: block;
    }

    #header-nav>a {
        display: flex;
        width: 335px;
        justify-content: space-between;
        align-items: center;
        margin-top: 6px;
    }

    #header-nav>a>img {
        height: 9px;
        width: 4.5px;
    }

    #header-nav>a>span,
    #menu-wrapper>label>span {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    #menu-wrapper>label>img {
        transform: rotate(-90deg);
        left: 1px;
        position: relative;
    }

    #header-nav label {
        justify-content: space-between;
    }

    #header-nav>a>span>img {
        width: 15px;
        height: 15px;
        object-fit: fill
    }

    #lang {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 335px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    #lang>div {
        width: 146px;
        font-size: 14px;
    }

    #lang hr {
        width: 1px;
        height: 12px;
    }

    /*Big-menu --------------*/
    #big-menu {
        top: -45px;
        z-index: 7000;
        width: 350px;
        height: 120vh;
        padding: 0;
        gap: 0;
        background-color: #1F1F1F;
    }

    #btn-go-back {
        display: flex;
    }

    #big-menu label,
    #big-menu>a {
        margin-top: 15px;
    }

    #btn-go-back~h5 {
        display: block;
    }

    /*-------------*/
    #hero-info {
        margin-top: 180px;
    }

    h1 {
        font-size: 40px;
        line-height: 100%;
    }

    #hero-info>p {
        margin-top: 12px;
        margin-bottom: 30px;
        font-size: 20px;
        max-width: 65%;
    }

    #hero-info>a {
        font-size: 15px;
        padding: 20px 30px;
    }

    #benefits {
        font-size: 16px;
    }

    .one-benefit img {
        width: 17px;
        height: 17px;
    }

    h2 {
        font-size: 32px;
    }

    /*catalog -------*/

    .catalog-one-item {
        padding: 15px;
    }

    .catalog-one-item-main-img {
        height: 350px;
    }

    .catalog-one-item .previous,
    .catalog-one-item .next {
        width: 35px;
        height: 35px;
    }

    .catalog-one-item .previous {
        top: 45%;
        left: 5%;
    }

    .catalog-one-item .next {
        top: 45%;
        right: 5%;
    }


    .last-item-img>a {
        font-size: 12px;
    }

    .dots {
        bottom: 15px;
    }

    h3 {
        font-size: 20px;
    }

    .item-info {
        font-size: 14px;
    }
}

@media (max-width:850px) {

    #benefits,
    header>*,
    #hero-info {
        padding: 0 20px;
    }

    #logo {
        gap: 18px;
    }

    #header-div {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #header-nav {
        /* top: 80px; */
    }

    /*catalog*/

    #catalog {
        padding: 36px 20px;
        gap: 24px;
    }

    #catalog-items {
        gap: 40px;
    }

    .catalog-one-item {
        width: 100%;
        border: none;
        padding: 0;
    }

    .catalog-one-item-main-img {
        height: 350px;
    }

    .all-images {
        height: 100px;
    }

    footer {
        display: grid;
    }
}

@media (max-width:680px) {
    header {
        position: fixed;
        width: 100%;
        z-index: 5;
    }

    #header-div {
        background-color: #1F1F1F;
        border: none;
    }

    #header-nav {
        /* top: 70px; */
    }

    #logo {
        font-size: 10px;
        gap: 18px;
    }

    #logo>img {
        height: 26px;
    }

    #mobile-menu:checked~#header-div>#header-info,
    #mobile-menu:checked~#header-nav {
        width: 100%;
    }

    #hero-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 124px;
    }

    h1 {
        font-size: 30px;
    }

    #hero-info>p {
        max-width: 100%;
        font-size: 16px;
    }

    #benefits {
        padding-bottom: 110px;
        font-size: 13px;
        gap: 22px 14px;
        padding-top: 15px;
    }

    .one-benefit {
        border: none;
        padding: 0;
    }

    .one-benefit>div {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }



    h4 {
        width: 100%;
    }

    .all-images {
        gap: 10px;
    }

    .one-item-images {}
}

@media (max-width:425px) {

    h1 {
        font-size: 22px;
    }

    #hero-info>p,
    #hero-info>a {
        font-size: 14px;
    }

    h2 {
        font-size: 22px;
        text-align: center;
        max-width: 75%;
    }

    .catalog-one-item-main-img {
        height: 200px;
    }

    .all-images {
        height: 50px;
    }

    .last-item-img>a {
        font-size: 10px;
    }

    h3 {
        font-size: 18px;
    }

    .item-info {
        gap: 14px;
    }

    .item-info>div {
        padding: 8px 14px;
        font-size: 12px;
    }

    .item-info img {
        height: 12px;
    }

    #watch-portfolio {
        font-size: 14px;
        padding: 20px 30px;
    }



    #big-menu {
        width: 85vw;
    }

    footer a {
        font-size: 10px;
    }
}